
.movieCard{
    max-height: 360px;
    display: grid;
    grid-template-columns: 2fr 7fr;
    background-color: #262A2D;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    
}
.movieCard_info{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.movieInfo{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9em;
}

.movieInfo_section{
    overflow: hidden;
}
.moviePoster{
    height: 100%;
    min-width: 150px;
    border-radius: 10px 0 0 10px;  
}
.noMoviePoster{
    min-width: 150px;
    height: 100%;
    border: 1px solid #ffda47c8;
    border-radius: 10px 0 0 10px;  
    position: relative;
}
.noMoviePoster__logo{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 5em;
    fill:#ffda47c8;
}
.movieInfo_name{
    font-size: 1.8em;
    font-weight: 500;
    color: white;
    padding-bottom: 0.5em;
}
.movieInfo_description{
    color: rgba(255, 255, 255, 0.56);
    padding-bottom: 0.5em;
}
.movieInfo_description > span{
    display: block;
}
.movieInfo_rating{
    display: flex;
    margin-top: 5px;
}
.movieInfo_rating > div{
   color: rgba(255, 255, 255, 0.564);
   background-color: #0C1013;
   border-radius: 5px;
   padding: 2px 7px 3px 7px;
   margin-right: 7px;
}

