/* video{
    width: 320px;
    height: 180px;
} */
.mediaBlock{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mediaBlock > *{
    margin: 5px;
}
.btnBlock{
  display: flex;
}
.btnBlock > div{
  margin: 0 5px;
}
.mediaBlock__media{
  position: relative;
}
.mediaBlock__media > .player{
  z-index: 1;
}
.player{
  height: 200px;
  width: 320px;
  position: relative;
}
/* .mediaBlock__media > .fakePlayer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top:0;
  height: 200px;
  width: 320px;
  z-index: 3;
} */
.fakePlayer__play{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-color: #ffda47;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.play__logo{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 30px;
  fill: #30373cea;
}
