
.raitingTitle{
    color: rgba(255, 255, 255, 0.659);
    list-style-type: none;
}

.raitingTitle > li{
    padding: 5px 0;
}

InputRangeTwoThumb{
    height: 100px;
}

.resetFiltersBtn{
    display: flex;
    justify-content: center;
}
.removeFilterBtn{
    display: inline-block;
    margin: 0.3em;
    padding: 0.4em;
    background-color: #43484d;
}
.removeFilterBtn > span{
    cursor: pointer;
}